<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script src="vue.js"></script>
<link href="main.css" rel="stylesheet" type="text/css">
<body>
<div class="doll">
    doll goes here
</div>
<p>This item isn't fully functional but look at all the <a href="doll">assets we made</a>!</p>
    <div id="app">
       <ul>
         <li v-for="todo in todos">
           {{ todo.text }}
           <ul>
             <todo-item v-for="subtodo in todo.subTodos" v-bind:subtodo="subtodo"></todo-item>
           </ul>
         </li>
       </ul>
 </div>
 <script src="main.js"></script>
 </body>