<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script src="vue.js"></script>
<link href="main.css" rel="stylesheet" type="text/css">
<body>
<div class="doll" id="doll">
</div>
<p>you can only put clothes on and not take them off, but dressing with layers is the way to go anyway :)! <button type="submit" onclick="history.go(0)">Clear and reload</button></p>
    <div id="app">
       <ul>
           <li>Bases</li>
           <img src="doll/base.png" id="first">
           <img src="doll/base2.png" id="second">
           <img src="doll/base3.png" id="third">
         <li v-for="todo in todos">
           {{ todo.text }}
           <ul>
            <img v-for="subtodo in todo.subTodos" :src="subtodo.text" @click="() => handleSelect(subtodo.text)">
            </ul>
         </li>
       </ul>
 </div>
 <script src="main.js"></script>
 </body>