body {
    background-image: url("assets/SparkleBack.gif");
    background-repeat: repeat;
  }
div {
    background-color: lightpink;
}
.doll {
    width: 100px;
    height: 198px;
    margin: auto;
    background-image: url("doll/base.png");
}
.abspos {
    position: absolute;
}